* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 1em;
    line-height: 1.5;
}

h2,
h3,
li {
    font-family: 'Aleo', serif;
    font-weight: 700;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    margin-top: 0;
    color: #5a5a5a;
}

ul {
    padding: 0.3em 1em;
    margin: 0;
}

li {
    font-weight: bold;
}

img {
    width: 100%;
}

.meta-info {
    font-size: 0.8125rem;
}

.divider {
    color: #dbdbdb;
}

.time {
    color: #5a5a5a;
}

.category {
    color: #222;
}

.live {
    color: #bb1919;
    font-weight: 700;
    margin-right: 0.25em;
}

.icon {
    height: 13px;
    width: 13px;
    display: inline-block;
    margin-bottom: -2px;
    filter: invert(32%) sepia(8%) saturate(0%) hue-rotate(174deg) brightness(93%) contrast(74%);
}

/* 
Need help? Visit this page: https://scrimba.com/links/bbc-news-solo-project-hints 

WRITE YOUR CODE BELOW 👇
*/



article {
    overflow: hidden;
}
.featured-article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.featured-article-img{
    aspect-ratio: 3/2;
}
.featured-article-img > img{
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit:cover;
}
.stack{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: aliceblue;
}
.meta-info{
    margin-block-start: auto;
}

article.second-row {
    grid-column: 1/-1;
}
/* Grid Layout
I tried hard to make this work with auto-fit columns, but it was too flaky.
Using explicit grid-template-columns at specific breakpoints was the way to make it work.
I tried to use container queries, but Safari doesn't support them yet.
(i.e. makes the page completely unreadable—no graceful degradation)
*/
main.grid {
    display: grid;
    /* grid-template-columns: 1fr; (default: single column) */
    grid-auto-flow: dense;
    gap: 1rem;
}
@media (min-width: 35rem) {
    main.grid {     
        grid-template-columns: repeat(2,1fr);
    }
    .featured-article {
        grid-column: span 2;
        flex-direction: row;
    }
    .featured-article>*{
        flex: 1;
    }
}
@media (min-width: 45rem) {
    main.grid {     
        grid-template-columns: repeat(3,1fr);
    }
    .featured-article {
        grid-column: span 3;

    }
    .featured-article-img {
        flex: 2;
    }
}
@media (min-width: 55rem) {
    main.grid {     
        grid-template-columns: repeat(auto-fit,minmax(30ch,1fr));
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
} 

